.header
    &-slider
        &__wrapper
            display: flex
            max-height: 832px
        &__item
            position: relative
        &__contant
            position: absolute
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            z-index: 5
            top: 11%
            right: 28%
            max-width: 730px
            height: 64%
            &--fix
                top: 10%
                left: 28%
                height: 58%
        &__image
            width: 100%
        &__logo
            // position: absolute
            // top: 88px
            // left: 36%
            // right: 25%
        &__description
            // position: absolute
            margin-bottom: 0
            max-width: 730px
            // bottom: 22%
            // right: 25%
            font-size: 30px
            color: $primary
            line-height: 1.133
            text-align: center
            text-transform: uppercase
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75)
            &--fix
                right: 30.5%
    &-logo
        width: 202px
        height: 91px
    &__button
        position: absolute
        margin-top: -90px
        left: 49%
        right: 0
        border: none
        background: none
        &-img
            width: 30px
            height: 20px
    &-navbar
        padding: 20px 40px 10px 60px
        background-color: #000
.container-fluid
    display: flex
    justify-content: space-between
    align-items: center
.navbar-menu
    display: flex
    justify-content: space-between
    align-items: center
    li
        padding: 0 33px 0 0
        a
            color: $primary
            position: relative
            font-family: $font-raleway
            font-size: 16px
            line-height: 2
            &:after
                display: block
                position: absolute
                top: 30px
                right: 0
                width: 0
                height: 4px
                background-color: #f41353
                content: ""
                transition: width 0.3s ease-out
    &__item
        padding: 0 33px 0 0
    &__link
        color: $primary
        position: relative
        font-family: $font-raleway
        font-size: 16px
        line-height: 2
        &:after
            display: block
            position: absolute
            top: 30px
            right: 0
            width: 0
            height: 4px
            background-color: #f41353
            content: ""
            transition: width 0.3s ease-out
.navbar-collapse
    flex-grow: 0
.navbar-toggler
    background-color: $primary
// Slider settings
.slick
    &-list
        overflow: hidden
    &-track
        display: flex
    &-arrow
        position: absolute
        top: 10%
        font-size: 0
        width: 20px
        height: 30px
        z-index: 10
    &-prev
        right: 5%
        background: url(../img/arrow-left.png)
        background-repeat: no-repeat
        background-position: 0 0
        background-size: cover
        border: none
    &-next
        right: 3%
        background: url(../img/arrow-right.png)
        background-repeat: no-repeat
        background-position: 0 0
        background-size: cover
        border: none
#main-logo
    width: 470px
    height: 215px
/*Пока слайдер не инициализировался*/
.slider:not(.slick-initialized)
    display: flex
    max-width: 100%
    overflow: auto

.slide:not(.slick-slide)
    width: 50%
    flex: 0 0 auto
