.photos
    &__title
        padding: 115px 0 103px
        background-color: $secondary
        text-align: center
    &__items
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
    &__link
.photo
    width: 303px
    height: 260px

.carousel__slide
    display: flex
    align-items: center
    justify-content: center
    width: 303px
.carousel__button
    display: none
